.slider {
  position: relative;
  width: 310px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #e5e7eb;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #5359ea;
  z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 310px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: white;
  border: solid 3px #4f54eb;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: solid 3px #4f54eb;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .slider {
    width: 200px;
  }

  .thumb {
    width: 200px;
  }

  .slider__track,
  .slider__range {
    position: absolute;
    border-radius: 3px;
    height: 5px;
  }

  .slider__track {
    background-color: #e5e7eb;
    width: 100%;
  }

  .slider__range {
    background-color: #5359ea;
  }
}
